<ActionBar title="Create">
    <NavitagionButton text="Back"></NavitagionButton>
    <ActionItem text="Save" (tap)="save()"></ActionItem>
</ActionBar>
<StackLayout>
    <TextField hint="First Name" [(ngModel)]="user.firstname"></TextField>
    <TextField hint="Last Name" [(ngModel)]="user.lastname"></TextField>
</StackLayout>